<div class="container fill profile" style="background-color: #FFF" ng-model="contact">
    <div class="row status-bar"></div>
    <div class="row header">
        <a ng-click="navigateBack()" class="float-left navigation-back">
            <span class="back-arrow">< </span>
            <span>Contacts</span>
        </a>
        <div class="float-right favorite-button">
            <img ng-click="changeFavorite(false)" ng-show="contact.isFavorite" src="./assets/img/favorite-true.png" alt="*" />
            <img ng-click="changeFavorite(true)" ng-hide="contact.isFavorite" src="./assets/img/favorite-false.png" alt="°" />
        </div>
    </div>
    <div class="row">
        <div class="profile-info col-12 col-md-4 text-center">
            <img class="profile-picture" ng-src="{{contact.largeImageURL}}" onerror="this.src='./assets/img/user-large.png'" alt="PIC">            
            <h1>{{contact.name}}</h1>
            <h2>{{contact.companyName}}</h2>
        </div>
        <div class="col-12 col-md-8">
            <ul class="list-unstyled">
                <li ng-show="contact.phone" ng-repeat="(key, data) in contact.phone">
                    <div class="contact-record">
                        <label>Phone:</label>
                        <div class="contact-information">
                            <span class="float-left">{{ data | telephone }}</span>
                            <span class="float-right phone-type">{{ key }}</span>
                        </div>
                    </div>
                </li>                
                <li ng-show="contact.address" >
                    <div class="contact-record">
                        <label>Address:</label>
                        <div class="contact-information">
                            <span class="float-left"> {{ contact.address | address }} </span>
                        </div>
                    </div>
                </li>
                <li ng-show="contact.birthdate" >
                    <div class="contact-record">
                        <label>Birthdate:</label>
                        <div class="contact-information">
                            <span class="float-left">{{ contact.birthdate | date : "longDate" }}</span>
                        </div>
                    </div>
                </li>
                <li ng-show="contact.emailAddress" >
                    <div class="contact-record">
                        <label>Email</label>
                        <div class="contact-information">
                            <span class="float-left">{{ contact.emailAddress }}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>